# Laravel default
/vendor
/node_modules
/public/storage
/storage/*.key
/.phpunit.result.cache
/.phpunit.cache
.env
.env.backup
.env.production
.env.example

# Laravel Mix / Vite
/public/build
/public/hot

# Debug / Logs
npm-debug.log
yarn-error.log

# IDEs and Editors
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Homestead
Homestead.json
Homestead.yaml

# PHP tools
/phpactor.json

# Composer authentication
/auth.json

# Custom Laravel folder (fixing potential typo)
/storage/pail
